
body {
 background-color: #FFA9E7;
	

}

#paris {
background-color: #445E93;

}

#bali {  
background-color: #AAA1C8;

 }

 #galapagos {  
background-color: #3C7A89;

 }

 #singitagrumeti {  
background-color: #B5BA72;

 }

 #newyork {  
background-color: #7D1128;

 }