
body {
 background-color: #FFA9E7;
	

}

#seoul {
background-color: #445E93;

}

#bali {  
background-color: #AAA1C8;

 }

 #galapagos {  
background-color: #3C7A89;

 }

 #singitagrumeti {  
background-color: #B5BA72;

 }

 #newyork {  
background-color: #7D1128;

 }

h1{
 font-size: 55px;   
}

h2 {

    text-align: left;



}


